@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: heading;
  src: url(../../public/assets/fonts/Mofista.ttf);
}

@font-face {
  font-family: desc;
  src: url(../../public/assets/fonts/rogie.ttf);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--tertiary-color);
  border-radius: 100px;
}

:root {
  --primary-color: #e07a5f;
  --secondary-color: #003638;
  --tertiary-color: #DAE2D5;
  /* --tertiary-color: #DAE2D5; */
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color-light: rgba(242, 161, 131, 0.6);
  --secondary-color-light: rgba(0, 54, 56, 0.3);
  --tertiary-color-light: rgba(218, 226, 213, 0.1);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: desc !important;
}

.container {
  position: relative;
}

.spotlight-light {
  height: 100vh;
}

.height-100vh {
  height: 100vh;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.white-color-text {
  color: #fff;
}

.padding-sec {
  width: 100%;
}

.testimonial {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.testimonial-start {
  position: relative;
  z-index: 111;
  overflow: hidden;
  height: 100vh;
}

.testi-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 111;
  background: rgba(0, 0, 0, 1);
  background: linear-gradient(#000000, #00000000), rgba(0, 0, 0, 0.2);
}

.testi-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 111;
  background: rgba(0, 0, 0, 1);
  background: linear-gradient(#00000000, #000000), rgba(0, 0, 0, 0.2);
}

.quotes img {
  width: 80px;
  position: absolute;
  right: 0;
}

.quotes-180 img {
  top: -3vw;
  width: 80px;
  position: absolute;
  transform: rotate(180deg);
}

.vertical-marquee-container {
  display: flex;
  height: 100%;
  gap: 40px;
}

.marquee-wrapper {
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.marquee-wrapper .container {
  overflow: hidden;
  margin: 0 auto !important;
  text-align: center;
}

.marquee-inner span {
  height: 50%;
}

.marquee-wrapper .marquee-block {
  width: 30%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee-inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  position: absolute;
}

.testi-head {
  font-size: 20px;
  color: var(--secondary-color);
  font-family: heading;
  color: var(--primary-color);
  font-weight: 600;
}

.test-rating {
  display: flex;
  gap: 10px;
}

.testi-rating img {
  width: 30px;
  height: auto;
}

.testi-desc {
  font-size: 18px;
  font-family: desc;
}

.marquee-inner.to-left {
  animation: marqueeTop 50s linear infinite;
}

.marquee-inner.to-right {
  animation: marqueeBottom 50s linear infinite;
}

.testi-box {
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  background: rgba(26, 26, 26, 0.1);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(15px);
}

.testi-rating {
  display: flex;
  justify-content: center;
}

.parallax-container {
  height: 300vh;
}

.parallax-image {
  height: 380px;
  width: 500px;
}

.parallax-height {
  height: 24rem;
}

.parallax-width {
  width: 30rem;
}

.tabs-container {
  height: 40rem;
}

.carousel-container{
  display: none;
}

.moving-cards_sm{
  display: none;
}

.form-container{
  width: 80%;
  border-radius: 1rem;
}

.multiStep Loader{
  z-index: 11111111;
}
@keyframes marqueeTop {
  0% {
    top: 0;
  }

  100% {
    top: -100%;
  }
}

@keyframes marqueeBottom {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

.heading-grids {
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.services-grid img {
  cursor: pointer;
}

@media only screen and (max-width: 786px) {

  .spotlight-light {
    height: 500px;
  }

  .parallax-container {
    height: 230vh;
  }

  .parallax-image {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }

  .parallax-height {
    height: 15rem;
  }

  .parallax-width {
    width: 15rem;
  }

  .tabs-container {
    height: 58rem;
    padding: 0 10px;
  }

  .tabs-button{
    justify-content: center;
    padding: 20px 0;
    overflow: hidden;
  }

  .content {
    flex-direction: column;
  }

  .content img{
    height: 300px !important;
    width: 100% !important;
  }

  .tabs-container .content .desc{
    font-size: 20px;
  }

  .content .cta:before{
    height: 50px;
    width: 50px;
  }

  .content .cta span{
    font-size: 20px;
  }

  .text-xs{
    font-size: 1rem;
    padding: 0 10px;
    letter-spacing: 1px;
  }

  .moving-cards{
    display: none;
  }

  .moving-cards_sm{
    display: block;
  }

  .carousel-container{
    padding: 150px 15px 0 15px;
    display: block;
  }

  .testi-box{
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .gemini-svg{
    top: -8rem !important;
  }

  .mt-btn-res{
    margin-top: 17rem !important;
  }
  
  .links-connect{
    flex-direction: column;
  }

  .nav-text{
    display: none;
  }

  nav .navigation{
    padding: 5px;
    gap: 15px;
  }

  .contact-content{
    flex-direction: column;
    padding: 0px 10px;
  }

  .form-container{
    width: 100%;
  }
  
}