.container {
    width: 80%;
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .testimonial {
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(26, 26, 26, 0.1);
    -webkit-backdrop-filter: blur(25px);
    /* backdrop-filter: blur(15px); */
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: center;
  }
  
  .quote {
    /* font-style: italic; */
    font-size: 18px;
    color: #a1a1aa;
    letter-spacing: 1px;
  }
  
  .author {
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    color: var(--tertiary-color);
    gap: 10px;
    
  }
  .buttonSlider {
    padding: 10px !important;
    border-radius: 10px;
  }
  